<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qdu.mapper.CommunicationMapper">
	<resultMap type="com.qdu.model.CommunicationModel" id="commun">
		<id column="id" property="id" />
		<result column="user_code" property="userCode" />
		<result column="cust_code" property="custCode" />
		<result column="time" property="time" />
		<result column="type" property="type" />
		<result column="content" property="content" />
	</resultMap>
	
	<insert id="insert" parameterType="com.qdu.model.CommunicationModel">
	 insert into communication(user_code,cust_code,time,type,content) values(#{userCode},#{custCode},#{time},#{type},#{content}) 
	</insert>
	
	<delete id="deleteModel" parameterType="com.qdu.model.CommunicationModel">
	  delete from communication where user_code=#{userCode}
	</delete>
	
	<update id="updateActive" parameterType="com.qdu.model.CommunicationModel">
	 update communication
        <set>
            <if test="custCode != null">custCode=#{custCode},</if>
            <if test="time != null">time=#{time},</if>
            <if test="type != null">type=#{type},</if>
            <if test="content != null">content=#{content},</if>
        </set>
        where user_code=#{userCode}
	</update>
	
	<select id="selectModel" resultMap="commun">
	  select * from communication where user_code=#{userCode}
	</select>
	
	<select id="selectModelPage" resultMap="commun">
		select * from communication
		<where>
			<if test="example.userCode != null and example.userCode != ''">
				and user_code like "%"#{example.userCode}"%"
			</if>
			<if test="example.custCode != null and example.custCode != ''">
				and cust_code like "%"#{example.custCode}"%"
			</if>
		</where>
		limit #{before},#{after}
	</select>
	
	<select id="selectAll" resultMap="commun">
	   select * from communication
	</select>
	
	<select id="selectCount" resultType="Integer">
	select count(*) from communication
	</select>
</mapper>